@tailwind base;
@tailwind components;
@tailwind utilities;

.loading--state {
	z-index: 9;
	min-height: 100vh;
	position: fixed;
	right: 0;
	top: 0;
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: auto;
	width: 100%;
	height: 100%;
}

.submit--btn {
	display: flex;
	justify-content: center;
	align-items: center;
}

.scroller {
	position: fixed;
	border: 2px solid rgb(168, 168, 168);
	bottom: 15px;
	right: 15px;
	background: white;
	border-radius: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
}

.pagination--item {
	cursor: pointer;
}

.md--container {
	max-width: 100%;
	overflow: scroll;
}

.test--test {
	fill: #fff;
	color: #151513;
	position: absolute;
	top: 0;
	border: 0;
	right: 0;
}

.github-corner:hover .octo-arm {
	transform-origin: 130px 106px;
	animation: octocat-wave 560ms ease-in-out;
}
@keyframes octocat-wave {
	0%,
	100 % {
		transform: rotate(0);
	}
	20%,
	60% {
		transform: rotate(-25deg);
	}
	40%,
	80% {
		transform: rotate(10deg);
	}
}
@media (max-width: 500px) {
	.github-corner:hover .octo-arm {
		animation: none;
	}
	.github-corner .octo-arm {
		animation: octocat-wave 560ms ease-in-out;
	}
}


.github--corner-container{
	filter: invert();
}