@tailwind base;
@tailwind components;
@tailwind utilities;

.loading--state{
    min-height: 100vh;
    position: absolute;
    left: 0;
    right: 0;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}